body{
    color: #a75f00;
    background-color: #649dcc;
}

p {
    color: #980000;
}

button {
    background-color: #ffaa00;
}

img {
    box-sizing: border-box;
    width: 100%;
}

.loader {
    left: 50%;
    top: 50%;
    position: fixed;
            transform: translate(-50%, -50%); 
}
    .loader #spinner {
        box-sizing: border-box;
        stroke: rgb(228, 74, 13);
        stroke-width: 3px;
        transform-origin: 50%;
        animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite; 
    }
  
 
@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(450deg); } 
}  
    
@keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        transform: rotate(0); 
    }
    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0; 
    }
    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        transform: rotate(90deg); 
    }
}
  